

.list_item_wrapper {
    background: #484C7A;
    box-shadow: rgb(255 255 255 / 10%) 0px 1px 0px 0px inset, rgb(0 0 0 / 50%) 0px 24px 41px 0px;
    color: #fff;
    border-radius: 5px;
    width: 500px;
    margin: 10px;
    padding: 10px 0;
    position: relative;
    text-align: center;
    justify-content: flex-start !important;
    flex-direction: row !important;
    transition: transform 0.2s ease-in-out 0s !important;
}

.list_item_wrapper:hover {
    transform: translateY(-5px) !important;
}

.avatar {
    padding: 20px;
    flex: 0.5;
    user-select: none;
    img {
        border-radius: 50%;
        box-shadow: rgb(255 255 255 / 10%) 0px 1px 0px 0px inset, rgb(0 0 0 / 50%) 0px 24px 41px 0px;
    }
}

.user_info {
    flex: 1.5;
    align-items: flex-start !important;
    margin-right: 20px;

    .user_name {
        padding: 5px 0;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.04991em;
    }
    
    .location {
        font-size: 14px;
    }
}

.hireable_indicator {
    bottom: 0;
    right: 0;
    position: absolute;
    padding: 10px 15px;
    user-select: none; 
    cursor: not-allowed;

    .indicator_wrapper {
    font-size: 14px;
    padding: 3px 15px;
    border-radius: 16.5px;
    font-weight: 600;
    }
}

@media only screen and (max-width: 500px) {
    .school_type {
        font-size: 10px !important;
    }
}

@media only screen and (max-width: 385px) {
    .list_item_wrapper {
        height: 150px;
    }
}