
.header_wrapper {
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #f2f6fa;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-sizing: border-box;
    padding-left: 55px;
    user-select: none;
}

@media screen and (max-width: 1000px) {
    .header_wrapper {
        padding-left: 40px !important;
        padding-bottom: 5px !important;
    }
}

@media screen and (max-width: 768px) {
    .header_wrapper {
        background-color: #fcfffcc4;
    }
}

@media screen and (max-width: 420px) {
    .header_wrapper {
        padding: 0 !important;
    }
}
